body,
html {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: black;
  font-family: "IBM Plex Sans", sans-serif;
}

.ship {
  position: relative;

  .block {
    position: absolute;
    background: white;
  }
}

.particle {
  position: absolute;

  &.dummy {
    height: 5px;
    width: 5px;
    transform: translate(-50%, -50%);
    background: red;
  }
}
