body,
html {
  margin: 0;
  padding: 0;
  overflow: hidden;

  background-image: url("../public/images/background.png");

  font-family: "IBM Plex Sans", sans-serif;
}

.ship {
  position: relative;

  .block {
    position: absolute;

    image-rendering: pixelated;
    background-image: url("../public/images/ship-sprite.png");
    background-size: 400%;
    background-position-x: 100%;

    .overlay {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;

      &.heat {
      }

      &.damage {
      }
    }

    &::after {
      content: "";

      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;

      image-rendering: pixelated;
      background-image: url("../public/images/ship-sprite.png");
      background-size: 400%;
    }

    &.destroyed {
      &::after {
        opacity: 0;
      }
    }
  }
}

.particle {
  position: absolute;
  transform: translate(-50%, -50%);

  &.dummy {
    height: 5px;
    width: 5px;
    background: red;
  }
}
